/* Challenge 2: Use w3SchoolsMockUp.png to help you write the necessary CSS rules.
   Hint: Remember all the fundamental CSS rules when working with flexboxes */
   .container{
      display:flex;
      font-family: Arial;
   }
   nav a{
      flex:1;
      background-color:green;
      text-decoration: none;
      color:white;
      padding:10px;
      font-size:25px;
   }
   #banner{
      padding:10px;
      font-size: 30px;
   }
   #footer{
      text-align:center;
      justify-content: center;
      background-color: green;
      padding:2px;
      color: white;
   }
   .column{
      flex-direction: column;
   }
   #main{
      font-size: 25px;
      justify-content: center;
   }
   #link{
      text-decoration: none;
      color: black;
      font-size: 20px;
   }