/* Challenge 2: Use w3SchoolsMockUp.png to help you write the necessary CSS rules.
   Hint: Remember all the fundamental CSS rules when working with flexboxes */
   .container{
      display:flex;
   }
   nav a{
      flex:1;
      background-color:green;
      text-decoration: none;
      color:white;
      font-family: Arial;
      padding:10px;
   }
   #banner{
      padding:10px;
   }
   #footer{
      text-align:center;
      background-color: green;
      padding:5px;
   }